<div id="title"><%= @feed.title %></div>
   <% @entries.each do |entry| %>
       <div id="entry-title"><a class='feedlink' data-target='#entry-<%=entry.num%>' href='/f/<%= entry.sourceid%>/<%= entry.num%>'><%= entry.title %></a></div>
       <div id="entry-<%=entry.num%>"></div>
   <% end %>
